.input{
  font-size: 20px;
}

ion-item{
  --background: rgba(112,112,112,0.4);
  border-radius: 10px;
  margin-bottom: 15px;
}

.header{
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.fabbtn{
  display: flex;
  justify-content: center;
}


