<app-header titulo="Gráfica Cumplimiento"></app-header>
<ion-content [fullscreen]="true"  class="ion-padding">
  <div id="chart_div" style="display: flex; justify-content: center;">
  </div>
  <div class="btn">
    <ion-button (click)="show()" [disabled]="cantidadDocumentosPositivos === 0 && cantidadDocumentosNegativos === 0">
      Recargar gráfica
    </ion-button>
    <ion-icon name="information-circle-outline" (click)="toggleTooltip()"></ion-icon>
    <div *ngIf="showTooltip" class="custom-tooltip">
      Los puntos positivos, referencian los dias en los que se ha cumplido y los negativos, a los dias que no.
    </div>
  </div>

  <div class="fabbtn">
    <div class="parrafo">
    <ion-fab-button (click)="mas()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <p>{{ cantidadDocumentosPositivos }} puntos positivos</p>
    </div>

    <div class="parrafo">
    <ion-fab-button (click)="menos()">
      <ion-icon name="remove"></ion-icon>
    </ion-fab-button>
    <p>{{ cantidadDocumentosNegativos }} puntos negativos</p><div>
    </div>
    </div>

  </div>
  <div class="btn">
    <ion-button (click)="reset()">RESET</ion-button>
  </div>

</ion-content>
