
.tabla-ejercs {
  margin-top: 3%;
  width: 100%;
  border-collapse: collapse;
}

.tabla-ejercs th, .tabla-ejercs td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.tabla-ejercs th {
  background-color: #f2f2f2;
}
