<ion-content [fullscreen]="true"  class="ion-padding">
  <h2 class="ion-text-center">FitCalendar <ion-icon name="barbell"></ion-icon>
  </h2>
    <ion-img src="assets/logo.jpg"></ion-img>

  <div class="button-container">
    <div>
      <ion-fab-button [routerLink]="['/login']">
        <ion-icon name="log-in"></ion-icon>
      </ion-fab-button>
      Login
    </div>

    <div>
      <ion-fab-button [routerLink]="['/register']">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
      Register

    </div>
  </div>
</ion-content>
